<!-- Mailchimp Newleter -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"50bab1c85eae24ecfb0f68361","lid":"3a2dd721d0","uniqueMethods":true}) })</script>

<!--Subscribe Our Newsletter Form -->
<!-- Replace the url with your mailchimp form url-->